.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  border-bottom: 1px solid #767676;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.app__header ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
}

.app__header a {
  text-decoration: none;
  color: silver;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

.app__image {
  width: 35vw;
  border-radius: 100%;

}

.app__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__hero * {
  margin: 0;
}

.app__section {
  text-align: center;
}

.app__title {
  background: linear-gradient(97.13deg, #E9E9E9 0%, #515151 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 4rem;

}

.app__sub-title {
  margin: 1rem;
  color: silver;
}