.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app__header ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.app__header a {
  text-decoration: none;
  color: silver;
}

.app__image {
  width: 20vw;
  border-radius: 100%;

}

.app__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}